<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="F23.StringSimilarity" version="3.1.0" targetFramework="net461" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net461" />
    <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="net461" />
 </packages>